/* define */
$bg-color: #fff;
$bars-color: #333;
$transition-duration: 0.3s;

/* container */
.navicon {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: $bg-color;
  cursor: pointer;
}

/* base */
.navicon .bars {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 2px;
  margin: 0 auto;
  background-color: $bars-color;
  transition: $transition-duration;
}
.navicon .bars:before,
.navicon .bars:after {
  content: '';
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  background-color: $bars-color;
  transition: $transition-duration;
}
.navicon .bars:before {
  top: -6px;
}
.navicon .bars:after {
  bottom: -6px;
}

/* hover */
.navicon:hover .bars:before {
  top: -8px;
}
.navicon:hover .bars:after {
  bottom: -8px;
}


/* close */
.navicon.close .bars {
  background-color: transparent;
  transform: rotate(180deg);
}
.navicon.close .bars:before {
  top: 0;
  transform: rotate(45deg);
}
.navicon.close .bars:after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* arrow-left */
.navicon.arrow-left .bars {
  transform: rotate(180deg);
}
.navicon.arrow-left .bars:before {
  width: 13px;
  left: 8px;
  top: -4px;
  transform: rotate(45deg);
}
.navicon.arrow-left .bars:after {
  width: 13px;
  left: 8px;
  bottom: -4px;
  transform: rotate(-45deg);
}

/* arrow-right */
.navicon.arrow-right .bars {
  transform: rotate(180deg);
}
.navicon.arrow-right .bars:before {
  width: 13px;
  right: 8px;
  top: -4px;
  transform: rotate(-45deg);
}
.navicon.arrow-right .bars:after {
  width: 13px;
  right: 8px;
  bottom: -4px;
  transform: rotate(45deg);
}